<template>
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a href class="navbar-brand">VandenBrink Software</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <div class="navbar-nav">
          <template v-for="(navLink, index) in navLinks">
            <a
              v-if="navLink.externalLink"
              v-bind:href="navLink.externalLink"
              class="nav-item nav-link"
              v-bind:key="index"
            >{{ navLink.name }}</a>
            <router-link
              v-else
              v-bind:to="navLink.routerLink"
              class="nav-item nav-link"
              v-bind:key="index"
            >{{ navLink.name }}</router-link>
          </template>
        </div>
      </div>
    </div>
  </nav>
</template>

<script lang="ts">
import Vue from 'vue';
import { Component } from 'vue-property-decorator';
import { NavLink } from '../_interfaces/nav-link';

@Component
export default class NavBar extends Vue {
  private navLinks: NavLink[] = [
    { name: 'Home', routerLink: '/' },
    { name: 'Blog', externalLink: 'https://blog.vandenbrinksoftware.com' },
  ];
}
</script>

<style lang="scss" scoped>
</style>
