<template>
    <section class="contact p-5">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="contact-info mb-4">
                        <p>Steve VandenBrink</p>
                        <p>(616) 368-4879</p>
                        <p>steve@vandenbrinksoftware.com</p>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <h3>Send Message</h3>
                    <form @submit.prevent="submitContactInfo">
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" id="name" class="form-control" placeholder="Your full name" v-model="contactInfo.fullName" required>
                        </div>
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" id="email" class="form-control" placeholder="Your email" v-model="contactInfo.email" required>
                        </div>
                        <div class="form-group">
                            <label for="message">Message</label>
                            <textarea id="message" class="form-control" v-model="contactInfo.message" required></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">Send</button>
                    </form>
                </div>
            </div>
        </div>
        

        <!-- Modal -->
        <div class="modal fade" id="alertModal" tabindex="-1" role="dialog" aria-labelledby="alertModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">{{ modalStatus }}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <h5 class="text-center">{{ modalMessage }}</h5>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script lang="ts">
import Vue from 'vue';
import { Component } from 'vue-property-decorator';
import { ContactInfo } from '../_interfaces/contact-info';
import { MailgunRequest } from '../_interfaces/mailgun-request';
import ContactService from '../_services/contact-service';

import $ from 'jquery';

@Component
export default class Contact extends Vue {
    // Data
    private contactInfo: ContactInfo = {
        fullName: '',
        email: '',
        message: '',
    };

    private modalStatus: string = '';
    private modalMessage: string = '';

    // Methods
    private submitContactInfo() {
        const content =
        '<div>Sender: ' + this.contactInfo.fullName + '</div>' +
        '<div>Email: ' + this.contactInfo.email + '</div>' +
        '<div>Message: ' + this.contactInfo.message + '</div>';

        const request: MailgunRequest = {
            subject: 'Message from ' + this.contactInfo.fullName + ' on vandenbrinksoftware.com',
            content,
            to: 'steve@vandenbrinksoftware.com',
        };

        ContactService.postMessage(request)
            .then((response) => {
                if (response.status === 200) {
                    this.modalStatus = 'Success';
                    this.modalMessage = 'Thank you for your message. Someone will contact you soon.';

                    $('#alertModal').modal('show');

                    this.contactInfo = {
                        fullName: '',
                        email: '',
                        message: '',
                    };
                }
            })
            .catch((err) => {
                this.modalStatus = 'Error';
                this.modalMessage = err.message;

                $('#alertModal').modal('show');
            });
    }
}
</script>

<style lang="scss" scoped>
.contact {
    background-color: #dad9dc;
}

.contact-info p {
    margin: 0;
}
</style>
