<template>
  <div class="home">
    <section class="hero-image" :style="backgroundImage">
      <div class="hero-text">
        <h1>VandenBrink Software</h1>
        <p>Custom Web Applications</p>
      </div>
    </section>
    <services></services>
    <contact></contact>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import Services from './Services.vue';
import Contact from './Contact.vue';

@Component({
  components: {
    Services,
    Contact,
  },
})
export default class Home extends Vue {
  get backgroundImage() {
    return 'background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(\''
    + require('@/assets/computer.jpg') + '\')';
  }
}
</script>

<style lang="scss" scoped>
.home {
  height: 100%;
}

/* The hero image */
.hero-image {
    /* Set a specific height */
    height: 50%;

    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/* Place text in the middle of the image */
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

</style>
