<template>
    <section class="services p-5">
        <h5 class="text-center mb-5">Services</h5>
        <div class="row text-center mb-4">
            <div class="col-12 col-md-8 mx-auto">
                <h6 class="mb-4">Web Applications</h6>
                <div class="row">
                    <div class="col-6 col-md-4 mx-auto">
                        <i class="vue text-success tech-brand mb-3"></i>
                        <p>We use VueJS for small to mid size applications</p>
                    </div>
                    <div class="col-6 col-md-4 mx-auto">
                        <i class="angular text-danger tech-brand mb-3"></i>
                        <p>We use Angular for enterprise size applications</p>
                    </div>
                    <div class="col-6 col-md-4 mx-auto">
                        <i class="microsoft text-primary tech-brand mb-3"></i>
                        <p>We utilize .NET core for backend data housing</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-12 col-md-6 mx-auto">
                <h6 class="mb-4">Computers</h6>
                <i class="desktop text-warning tech-brand mb-3"></i>
                <p>We also have vast experience in custom PC builds to meet your needs</p>
            </div>
        </div>
    </section>
</template>

<script lang="ts">
import Vue from 'vue';
import { Component } from 'vue-property-decorator';

@Component
export default class Services extends Vue {}
</script>

<style lang="scss" scoped>
$fa-font-path:        "../../../../node_modules/@fortawesome/fontawesome-free/webfonts";
@import "../../../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "../../../../node_modules/@fortawesome/fontawesome-free/scss/solid.scss";
@import "../../../../node_modules/@fortawesome/fontawesome-free/scss/brands.scss";

.services {
    background-color: #FBFBFF;
}

.vue {
    @extend %fa-icon;
    @extend .fab;

    &:before {
        content: fa-content($fa-var-vuejs);
    }
}

.angular {
    @extend %fa-icon;
    @extend .fab;

    &:before {
        content: fa-content($fa-var-angular);
    }
}

.microsoft {
    @extend %fa-icon;
    @extend .fab;

    &:before {
        content: fa-content($fa-var-microsoft);
    }
}

.desktop {
    @extend %fa-icon;
    @extend .fas;

    &:before {
        content: fa-content($fa-var-desktop);
    }
}

.tech-brand {
    font-size: 48px;
}
</style>
