<template>
  <div id="app">
    <div id="nav">
      <navBar></navBar>
    </div>
    <router-view/>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import { Component } from 'vue-property-decorator';
import NavBar from '@/modules/navbar/_components/NavBar.vue';

@Component({
  components: {
    NavBar,
  },
})
export default class App extends Vue {}
</script>


<style lang="scss">
$fa-font-path:        "../node_modules/@fortawesome/fontawesome-free/webfonts";
@import '../node_modules/bootstrap/scss/bootstrap.scss';
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');
@import "../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "../node_modules/@fortawesome/fontawesome-free/scss/solid.scss";
@import "../node_modules/@fortawesome/fontawesome-free/scss/brands.scss";

body, html {
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

#app {
  height: 100%;
}

#nav {
  margin-bottom: 56px;
}
</style>
